.hidden {
    display: none;
}

/* #badge {
    width: 100px;
} */

/* #greytext
{
    transition: all 0.5s ease;
    transform-origin: center;
}

#badge:hover #bgcircle {
    fill: orange;
}

#badge:hover #greytext {
    fill: white;
    transform:  rotate(130deg);
} */


#pomegranate1 {
    width: 150px;
    cursor: pointer;
}


#pomegranate1 path{
    stroke-dasharray: 1700;
  /* stroke-offset: 0; */
}


#pomegranate1 #red-base, #red-top, #yellow, #red-inside, #red-top {
    display: none;
}


#pomegranate1:hover #red-top, #pomegranate1:hover #red-base,  #pomegranate1:hover #yellow, #pomegranate1:hover #yellow, #pomegranate1:hover #red-inside {
    display: block;


}


#pomegranate1:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
}


#pomegranate1:hover path {
animation: tilt-shaking 0.3s linear forwards;
}


@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }


